body { 
    background-image: url(../images/mooning/mooning.png);
    margin: 0;
    height: 100%;
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #586069;
    font-weight: 350;
    line-height: 1.5;
}

/*position of the header on the whole page*/
.header {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    border-bottom: solid 2px darkgrey;
    top: 0;
    left: 0;
    height: 64px;
}
/*setting up an inner width with margins of the header with logo and list so it stays with the row div*/
.header .inner-header {
    width: 950px;
    margin: 0 auto;
}
.column h1 {
    color: #089994;
}
.logo {
    float: left;
    margin-left: -12px;
    background-color: #089994;
    height: 64px;
    color: white;
}
.topnav {
    float: right;
}
.menu-list {
    list-style-type: none;
    margin-top: 5px;
}
.li-1, .li-2, .li-3 {
    float: left;
    padding: 20px;
    /*border-left: 1px solid #eaeaea;*/
}
.li-3 {
    margin-right: -28px;
}
a.js-nav1, a.js-nav2, a.js-nav3 {
    border-left: 1px solid #eaeaea;
    padding: 2px 10px;
    color: #586069;
}


.row {
    clear: both;
    margin-top: 25px;
}
div.column {
    background-color: white;
    padding: 10px;
    width: 960px;
    margin: auto;
    border: 2px solid darkgrey;
}
img.myimage {
    width: 200px;
    height: 150px;
    float: left;
    margin-right: 15px;
    
}
.column-inner {
    border-top:  2px solid darkgrey;
}
.footer {
    border-top: 3px solid #089994;
    text-align: center;
    background-color: grey;
    height: 50px;
    padding: 7px;
    bottom: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
   
}
